/* Articles Listing Section component */
/* ============================ */
.articles-listing-section {
  padding: 3rem 1rem;
  scroll-margin-top: 146px;
  background-color: var(--color-two);
}

.listing-header {
  margin-bottom: 2rem;
}

.results-count {
  color: #a3a3a3;
  font-size: 0.875rem;
}

.count-number {
  font-weight: bold;
  color: #ffffff;
}

.category-active {
  font-weight: bold;
  color: #f97316;
  text-transform: capitalize;
}

.view-toggle {
  background-color: #161616;
  border: 1px solid #262626;
  border-radius: 0.75rem;
  padding: 0.25rem;
}

.view-btn {
  padding: 0.5rem;
  border-radius: 0.5rem;
  transition: all 0.3s ease;
  border: none;
  background: transparent;
  cursor: pointer;
}

.view-btn-active {
  background-color: #f97316;
  color: #ffffff;
}

.view-btn-inactive {
  color: #a3a3a3;
}

.view-btn-inactive:hover {
  color: #ffffff;
}

.view-icon {
  width: 1.25rem;
  height: 1.25rem;
}

.articles-grid {
  height: 700px;
  overflow-y: scroll;
  overflow-x: hidden;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.articles-grid::-webkit-scrollbar {
  display: none;
}
/* ============================ */
/* End of Articles Listing Section Component */

/* Media Queries If Exists */
/* End of Media Queries */
